.cart-icon {
    padding: 10px 0px 10px 15px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .icon {
        width: 24px;
        height: 24px;
    }

    .item-count {
        position: absolute;
        font-size: 10px;
        font-weight: bold;
        bottom: 12px;
    }
}
